[2016-05-13 19:22] dataangel opened #1 "AspNetCore.Identity.MongoDB is not compatible with netcoreapp"
[code]

[2016-06-04 21:31] tugberkugurlu commented on #1
this is intentional, see README file:

Till MongoDB has a .NET Core client, this will stay the same. They seem to be on top of it: https://github.com/mongodb/mongo-csharp-driver/pull/210#issuecomment-213136053. They might get something up soon, I am not entirely sure though.

[2016-06-04 21:33] tugberkugurlu opened #2 "Support .NET Core"
For the time being, this only works on full .NET desktop CLR on Windows and on Mono on other platforms (Linux, OSx). This waits for MongoDB client to support .NET Core first. See this: https://github.com/mongodb/mongo-csharp-driver/pull/210#issuecomment-213136053 as soon as that happens, it should be OK to go that way.

[2016-06-04 21:33] tugberkugurlu commented on #1
track this on https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/issues/2, I will close this here.

[2016-06-04 21:33] #1 closed, assigned to nobody

[2016-06-04 21:34] tugberkugurlu opened #3 "ASP.NET Core Identity 1.0.0 RTM support"
~~ongoing at https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/tree/rc2~~

Turned this into RTM support issue

[2016-07-14 13:16] tugberkugurlu commented on #3
based on https://www.nuget.org/packages/Microsoft.AspNetCore.Identity/1.0.0

[2016-07-22 06:00] gdoron commented on #3
What's the current status of the library?
Is it possible to use Identity Core 1.0.0 with Mongo?

I plan to port from EF & SQL to Mongo because of the **currently** very bad performance of EF Core.
I don't care about CoreCLR as I target the full .NET framework.

So is it possible?
How? Is there any some kind of documentation or even a small snippet of how to setup things?

Thanks!

[2016-07-22 13:33] tugberkugurlu commented on #3
Hi @gdoron,

I am very keen on getting this running on v1.0.0 bits. However, current MongoDB driver is not supporting .NET Core (see https://github.com/mongodb/mongo-csharp-driver/pull/243#issuecomment-233672092). So, I was waiting for them to release a new version. Otherwise (as the current state of AspNetCore.Identity.MongoDB), it will just work on full desktop framework on Windows and mono on o

[2016-07-22 14:51] gdoron commented on #3
Thanks for your quick reply @tugberkugurlu !

As I commented earlier, _I don't care about CoreCLR as I target the full .NET framework._
Obviously it would be nice if it could run on netstandard and  Linux, but anyway I'm not going to run on non windows machines until there will be more case studies.

Do you think the libaray is mature enough to run on production?
Or do you suggest me to keep using

[2016-07-25 19:27] runxc1 opened #4 "How do you wire this up in the Startup.cs file"
So how do you wire this up in the Startup.cs file if you just created a new project?

[2016-07-26 12:41] tugberkugurlu commented on #3
@gdoron awesome, I will get onto it this evening and publish a pre-release package today which will work on mono/full desktop .NET framework :+1: I will mainly evolve https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/tree/rc2 branch to target RTM. I will also try to get some samples and docs up so that it would be a smooth process to integrate.

Sorry for the wait, if I don't get back t

[2016-07-26 12:42] tugberkugurlu commented on #4
hey, see this: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/issues/3#issuecomment-235255279

I will get some docs up this evening hopefully :fingers_crossed:

[2016-07-26 14:21] gdoron commented on #3
@tugberkugurlu Awesome,I can't wait giving it a try.
I just want to make sure you saw my other question:

I would be happy if you could answer that question too when you'll have the time.

THANKS!

[2016-07-26 14:31] tugberkugurlu commented on #3
I don't know :smile: I will use it on prod and if there are any bugs I see along the way, I plan to fix them here. I would say start using it and log any issues here. I would suggest to write integration tests using something like https://github.com/tugberkugurlu/MongoDB.Testing and see if there are any abnormalities with it.

It's up to you. If SQL Server covers your cases, you can go with that.

[2016-08-01 21:25] runxc1 commented on #4
Do you have a test website that you are using this in?  It would be nice to see that.

[2016-08-08 13:10] tugberkugurlu commented on #3
Sorry for being late, there is a PR on this now: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/pull/5

[2016-08-23 17:46] tugberkugurlu commented on #4
@runxc1 I used this at https://github.com/tugberkugurlu/ModernShopping/tree/master/Auth/src/ModernShopping.Auth which is a bit old now.

See this part https://github.com/tugberkugurlu/ModernShopping/blob/master/Auth/src/ModernShopping.Auth/Startup.cs#L58-L91.

[2016-08-23 17:48] runxc1 commented on #4
Yeah I finally dug into it and figured it out and added an extension method to help configure it to make it easier, similar to what the EF provider and many other do

[2016-08-24 21:55] tugberkugurlu commented on #2
this is done, see #7.

[2016-08-24 21:55] #2 closed, assigned to nobody

[2016-08-24 21:57] tugberkugurlu opened #8 "Add a Sample"
It would be cool to have some examples on the repo under `samples` folder.

[2016-08-24 21:57] tugberkugurlu commented on #3
this is done, see #7. I hope to get some samples added soon (#8).

[2016-08-24 21:57] #3 closed, assigned to nobody

[2016-08-24 21:58] tugberkugurlu commented on #4
Cool, I track adding a sample on #8. Feel free to reopen or comment on #8 if you still have questions regarding this.

[2016-08-24 21:58] #4 closed, assigned to nobody

[2016-08-25 08:31] tugberkugurlu opened #9 "Add simple usage snippet to README"
Just like on https://github.com/tugberkugurlu/AspNet.Identity.RavenDB/blob/master/README.md

[2016-08-25 08:35] tugberkugurlu commented on #8
It would be a really good start to convert this: https://github.com/aspnet/Identity/tree/1.0.0/samples/IdentitySample.Mvc

[2016-08-25 20:27] tugberkugurlu commented on #8
I started a sample at https://github.com/tugberkugurlu/Identity/tree/mongodb, I plan to have it working there and getting it to into this repo.

[2016-08-25 20:45] tugberkugurlu opened #10 "fix namespaces"
Some (or all?) namespaces are `Dnx.Identity.MongoDB`. It should really be `AspNetCore.Identity.MongoDB` or starts with that.

[2016-08-25 20:52] runxc1 commented on #10
Why not just shorten it to
Identity. MongoDB?

On Aug 25, 2016 2:45 PM, "Tugberk Ugurlu" notifications@github.com wrote:

[2016-08-25 21:14] tugberkugurlu commented on #10
@runxc1 good suggestion, we could do. I honestly don't like .NET namespace convention or the package naming convention 😞 For example, Go has short package names on core lib: https://golang.org/pkg/ which is amazing considering what we have now: `System.Threading.Tasks`, `System.Security.Claims`, etc. 😞 However, I felt like honoring the ecosystem's convention is more valuable than going rogue.

I l

[2016-08-25 22:23] tugberkugurlu opened #11 ""This platform does not support connecting sockets to DNS endpoints" error from MongoDB Client on *nix platforms"
see https://github.com/mongodb/mongo-csharp-driver/pull/243#issuecomment-242560056 and see https://github.com/StackExchange/StackExchange.Redis/issues/463#issuecomment-241256886 and https://github.com/dotnet/corefx/issues/8768.

This has been fixed apparently and [on master](https://github.com/mongodb/mongo-csharp-driver/commit/9c2097f349d5096a04ea81b0c9ceb60c7e1acee4). We should take the next ver

[2016-08-25 22:27] tugberkugurlu commented on #8
[I finished the sample](https://github.com/tugberkugurlu/Identity/tree/mongodb), building but I have hit #11 bug from MongoDB Driver 😞 So, I was not able to confirm that it was all working.

See this to get an idea what changes I needed to do to get the Identity Sample in shape: https://github.com/aspnet/Identity/compare/52bfd39687caefc6a6cf9d229c9d4a0a508d1379...e86b6950073877da3ea6f3a4154faf6234

[2016-08-26 08:52] tverboon commented on #11
For me it only fails with localhost, replacing the connection to 127.0.0.1 and it works on the Mac.

[2016-08-27 01:23] tugberkugurlu commented on #11
YES, it made it work! My sample is now also working 😄

![image](https://cloud.githubusercontent.com/assets/328122/18024232/2e590054-6bfd-11e6-8447-5da19472ab4a.png)

[2016-08-27 01:25] tugberkugurlu commented on #8
There is a workaround for #11 (see https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/issues/11#issuecomment-242670884) and I [got the sample working](https://github.com/tugberkugurlu/Identity/tree/faea636cf4fa33c93a0883ce937dfcb0071ff7e5) 🎉 🎉 🎉

![image](https://cloud.githubusercontent.com/assets/328122/18024237/43ffe954-6bfd-11e6-89d2-bb9ba3cbeb83.png)

[2016-08-27 14:57] #8 closed, assigned to tugberkugurlu

[2016-08-27 14:58] tugberkugurlu opened #13 "build the samples on the CI server"

[2016-08-27 14:59] tugberkugurlu commented on #8
Sample is merged in now, see https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/tree/master/samples

[2016-08-29 16:27] tugberkugurlu opened #14 "Upgrade to rc1 of MongoDB Driver"
See https://github.com/mongodb/mongo-csharp-driver/releases/tag/v2.3.0-rc1

[2016-08-29 16:28] tugberkugurlu commented on #11
See this https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/issues/14

[2016-08-29 19:43] tugberkugurlu opened #15 "Random "A task was canceled" exceptions from MongoDB.Driver.Core.ConnectionPools.ExclusiveConnectionPool"
I keep getting this while running the sample:

[code]

I have seen it during the password login attempts and on http://localhost:5000/Manage. Not sure what causes it. I have seen this on 2.3.0-beta1 and I am seeing this on 2.3.0-rc1 of MongoDB driver.

[2016-08-29 20:37] #14 closed, assigned to nobody

[2016-08-29 20:38] tugberkugurlu commented on #11
done by 5e1eef80d8ea8eda07480673eba5675ae91213b8

[2016-08-29 20:38] #11 closed, assigned to nobody

[2016-08-29 21:15] tugberkugurlu commented on #15
I started digging, was not able to find exactly what might cause this. It seems to me that `CancelationToken` being passed in somehow gets cancel signal. I started throwing early (https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/commit/3afaa34f3334d6c9aa6ae7eb910e24b9c6195c35). If that's the case, those checks might catch that early.

[2016-08-31 14:35] francnuec opened #16 "NullReferenceException on SignIn"
So I tried the sample, and I kept getting this exception on Login:

[code]

Please help.

[2016-08-31 14:43] tugberkugurlu commented on #16
@francnuec I will have a look this evening.

[2016-08-31 15:30] SebastianStehle opened #17 "Make a guard class"
It is not an issue, but it would help to make a guard class:

https://github.com/aspnet/EntityFramework/blob/dev/src/Shared/Check.cs

My impression is, that 50% of the code is for the checking preconditions ;)

[2016-08-31 15:33] francnuec commented on #16
Ok. Thanks. But I think the real issue is that subclasses of the MongoIdentityUser class are causing the crashes. Must it always be the direct MongoIdentityUser class used?

[2016-08-31 15:36] francnuec commented on #16
From the exception, changing the <code>private</code> set methods of the MongoIdentityClass properties to <code>protected</code> might help fix this.

[2016-08-31 16:23] tugberkugurlu commented on #16
@francnuec I guess that doesn't make difference, does it? It is coming from here: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/7406e957e328deaad62df028242dff458cfb6dae/src/AspNetCore.Identity.MongoDB/MongoIdentityUser.cs#L66 not sure why though, it could be that this mapping is not kicking in correctly: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/master/s

[2016-08-31 16:26] tugberkugurlu commented on #17
:smile: yes, that could be true. I guess I get fastidious when it comes to Guard methods as it changes the stack trace but I can see your point, too + it doesn't alter the stack trace that much, you can still see where the Guard method is being called.

Feel free to have a go on this and send a pull request if you want to.

[2016-08-31 20:05] francnuec commented on #16
Well, you're right. It doesn't actually. Just tested it. But now I see the problem.

The problem is mentioned in my second comment above: subclassing the MongoIdentityClass doesn't work. This is because you registered the original Mongo Identity classes in the MongoConfig.cs class, and not their subclassed versions that a user like me could have created.

This would have been an easy fix just by e

[2016-09-01 09:09] tugberkugurlu commented on #16
@francnuec I see, that's not good :disappointed: I think I should ditch the special mappings requirement, it will be problematic. Even with that, I am not sure if this will solve the problem. Things to do for this:
- [ ] ditch the mappings, have a private ctor or something for MongoDB to use with it special attribute on it.
- [ ] Write tests when using pure MongoIdentityUser class on deserializati

[2016-09-01 09:12] tugberkugurlu commented on #10
I thought about this and I am leaning towards `AspNetCore.Identity.MongoDB` even if I don't like it :disappointed: It will be consistent with the ASP.NET Core libraries. Otherwise, it will be confusing as this doesn't support ["non-core" Identity](https://www.nuget.org/packages/Microsoft.AspNet.Identity).

[2016-09-15 17:41] francnuec opened #18 "Logins are not registered"
I see a "logins" array field on the document in the db, but each subsequent login is not being registered.

Is there a setting?

[2016-09-15 17:58] tugberkugurlu commented on #18
No, it should work out by default. Can you give me repro steps or even better: stick a sample in a public repository and share it with me.

[2016-09-15 21:07] francnuec commented on #18
I'm actually just playing around with the samples you provided. Nothing different. It's my first time trying out Mongo, so I'm just testing before I use in a proper project.

[2016-09-16 04:30] tugberkugurlu commented on #18
Are you logging in with a 3rd Party login provider on the sample?

It should look like this by default when you register with a Password login: https://twitter.com/tourismgeek/status/769346069423587328. However, when you start adding 3rd Party logins (e.g. Twitter, etc.), `logins` array should be filled.

[2016-09-16 04:32] tugberkugurlu opened #19 "Enable running samples through docker-compose up"
Start with this, which is the only sample: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/tree/master/samples/IdentitySample.Mvc

It should stand up a MongoDB instance, link it to the application container.

[2016-09-16 11:17] francnuec commented on #18
Oh. I see. I always thought the field was logging each local sign in to the app. Thanks.

[2016-09-16 13:20] tugberkugurlu commented on #18
@francnuec no problem 😄

[2016-09-16 13:20] #18 closed, assigned to nobody

[2016-10-05 09:03] tugberkugurlu opened #20 "Get a sample on unique username"
This should also mention that it will not work on sharded collection cases.

[2016-10-05 11:46] tugberkugurlu opened #21 "Get a sample with MongoDB replication"
Would be nice to have this through docker.

[2016-10-05 12:01] #10 closed, assigned to tugberkugurlu

[2016-10-05 12:31] tugberkugurlu opened #23 "Update to MongoDB.Driver v2.4.4"
https://www.nuget.org/packages/MongoDB.Driver/2.3.0

[2016-10-12 11:46] tugberkugurlu commented on #16
For testing, consider https://docs.travis-ci.com/user/database-setup/

[2016-10-27 21:53] tugberkugurlu commented on #15
Still getting this occasionally, not sure why:

[code]

[2016-10-29 16:08] tugberkugurlu commented on #15
With `v1.0.0-rc2-1`, I can now see that the `CancellationToken` being passed to `MongoUserStore` is being cancelled.

![image](https://cloud.githubusercontent.com/assets/328122/19831116/40376d68-9dfa-11e6-9d07-991cc202378a.png)

[code]

[2016-10-29 16:16] tugberkugurlu commented on #15
It's potentially happening because of this: https://github.com/aspnet/Identity/blob/rel/1.1.0-preview1/src/Microsoft.AspNetCore.Identity/UserManager.cs#L46

The cause of the request abort is probably related to reverse proxy aborting the request. Not sure what's causing that.

[2016-10-29 16:25] tugberkugurlu commented on #15
doesn't seem to be related to reverse proxy. In fact request is not aborted. Low chance but possible that UserManager is registered as singleton?

[2016-10-29 16:28] tugberkugurlu commented on #15
YES, IT IS! https://github.com/tugberkugurlu/AspNetCoreSamples/blob/a4004c851dfbf84fa92891b0d8ef54fa822c6ff6/haproxy-redis-auth/src/Startup.cs#L113

This is so annoying that it pulls a per-request scoped dependency inside a singleton instance and doesn't fail 😞 https://github.com/aspnet/Identity/blob/rel/1.1.0-preview1/src/Microsoft.AspNetCore.Identity/UserManager.cs#L98

[2016-11-30 07:53] CanMehmetK opened #24 "I think RoleStore absent .."
Need role store,

- Also there is IdentityBuilder what about using it...
    If i want to use multi database with entity framework core then using this may be well..

teşekkürler.

[2016-11-30 08:21] tugberkugurlu commented on #24
Dup of https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/pull/6, see the comments there.

Why do you need role store? Why can't you just use claims to store roles?

[2016-12-04 12:41] CanMehmetK commented on #24
regarding this page
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/roles

these is still UserRoleStore implementations in identity..
Surely yes Claims is another option but i guess using role is ansenario beside that calims is another story.

I just need to implement this for dynamic authorization with static roles.
https://docs.microsoft.com/en-us/aspnet/core/security/authori

[2016-12-11 11:34] Mech0z opened #25 "UserManager.Users throws System.NotSupported"
Hi, I am trying to use the Users to get all registered users, maybe I am using the framework wrong, but my idea is

I have https://github.com/Mech0z/FoosballCore2 which is a foosball site, I then want a setup page that can be run there if there is no user with Administrator claim.

Is there a way to get all users and check how many have a certain role? Or should I just make my own repository that

[2016-12-19 09:46] hman-pro opened #26 "Configurable collection name"
In some situation I have to use users collection through another collection or in another service except authentication.
Is it possible to pass optional user's collection name to `MongoUserStore` constructor.

[2016-12-19 13:32] tugberkugurlu commented on #26
Yep, this should be possible. I have added it to the list of things to do before the stable release but feel free to PR this if you would like to. Let me know if you want to do this 😄

[2016-12-20 06:07] hman-pro commented on #26
I'll send a PR today,
and I'm going to suggest other features in another issue.
this project is awesome 💃 ,
I can not wait to see v 1.0.0.

[2016-12-20 12:08] tugberkugurlu commented on #26
@SorenZ 🎉 thanks, keep them coming 😄

[2016-12-21 10:37] hman-pro commented on #26
@tugberkugurlu
I try to do my best,
if my little knowledge and poor English allow me 😌

[2016-12-21 16:54] tugberkugurlu commented on #26
@SorenZ thanks for your contribution! You did good, keep them coming 😄

[2016-12-21 16:54] tugberkugurlu commented on #26
this is fixed by #27.

[2016-12-21 16:54] #26 closed, assigned to nobody

[2016-12-22 08:57] hman-pro opened #28 "Service Configuration Wrapper"
I think `ConfigureServices ` is a little messy.
Is it a good idea to create an `IServiceCollection `extensions and put all default configuration setting (methods and class) into it and just call it in startup configuration like this `services.AddMongoIdentity(someOptions);` ?!

[2017-01-09 14:53] paulallington commented on #16
Was this error resolved?  I'm having the same issue

[2017-01-09 15:02] paulallington commented on #16
As an interim measure, I was able to skip past this error by adding a parameterless constructor on my subclass:

[code]

Obviously this passes a blank user, and is dangerous if used...but this seems to be a deserialisation issue and so it's setting properties correctly.

It's a temporary fix - I don't like it, but it works for now without changing any of the MongoIdentity code

[2017-01-09 17:01] tugberkugurlu commented on #16
@paulallington yep, this issue ought to be solved before the stable release. It's at the top of the list https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/projects/1.

I plan to reserve time for this project ASAP. However, feel free to PR for this if you need it urgently. If you do so, I will do my best to review, get it in and ship a new version on NuGet.

[2017-01-09 19:19] paulallington opened #29 "Don't use UserName as the Id and make it possible to change it"
The ID property of a user is being set to the users email address.  This is problematic for a few reasons.

Passing an email around as an ID is sometimes challenging.
When passed in a url it is a users email address which may create data protection issues.
While I get it's potentially useful, as soon as a user changes their email address it's a PITA.

[2017-01-09 19:21] tugberkugurlu commented on #29
@paulallington it's not e-mail, it's the username: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/44870eac70224f58147a74c41e99c4f1f7e01ef9/src/AspNetCore.Identity.MongoDB/MongoIdentityUser.cs#L36

[2017-01-09 19:26] tugberkugurlu commented on #29
@paulallington and changing the username is not supported: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/44870eac70224f58147a74c41e99c4f1f7e01ef9/src/AspNetCore.Identity.MongoDB/MongoUserStore.cs#L181

However, I do think this is harsh and I probably carried this over from the RavenDB implementation. As MongoDB supports unique indexes, I do think that Id should be something uni

[2017-01-09 19:30] paulallington commented on #29
My apologies - username (they're just emails in my app).  I didn't mean to come across harsh, I didn't say it was wrong or a bug, just some reasons for why it's potentially problematic.

[2017-01-09 19:33] tugberkugurlu commented on #29
@paulallington no, you are right. I didn't see it that way. This should change, I have put this among the issues which should be fixed. Thanks for the feedback and keep them coming 👍

[2017-01-09 19:35] tugberkugurlu commented on #29
@paulallington ow, sorry! I know what you mean now 😄 I meant the behaviour of the library is harsh, not you 😄 apologies, sorry again.

[2017-01-09 19:39] tugberkugurlu commented on #24
What I meant is that you can store the roles as a claim. Doesn't this work?

[2017-01-11 05:21] hman-pro commented on #29
Hi guys, I do agree with @paulallington. and `ObjectId` (as a string) is good option.

[2017-01-13 03:44] mach37 opened #30 "Multitenancy support SAAS"
Hello, I would like to request support for [Multi-tenancy we are migrating to mongoDb](https://github.com/aspnet/Identity/issues/266)

Thanks

[2017-01-13 07:40] tugberkugurlu commented on #30
@mach37 I think you can accomplish that by putting each tenant's identity data into a different MongoDB database, no?

There is not much room for supporting this specially with this library as it implements the store part of ASP.NET Core Identity. So, interfaces are controlled by that lib. However, this could be a good sample to have.

[2017-01-16 14:06] yonzo opened #31 "Support for CosmosDB through the MongoDB Driver"
Hi!

I know this request is a little "off topic" in relation to what the project is suppose to resolve, but I'l give it a go nevertheless - hope you can excuse me!

I'd really like to use this package in my project, but I'm targeting Microsoft DocumentDB instead of MongoDB. DocDB's API is complient with the MongoDB API which means you may use a MongoDB driver for the communication.

So theoretical

[2017-01-16 14:20] tugberkugurlu commented on #31
@yonzo thanks for getting in touch!

I don't think opening up `EnsureIndicesCreatedImplAsync` is a good idea to expose publicly or allowing users to skip this. However, we can allows this to be overriden internally and expose a store called `MongoDocumentDbShimStore` which would work out. We can ship this as a separate package.

However, this requires testing against document db and ensuring that

[2017-01-16 15:07] yonzo commented on #31
Thanks for the lightning fast response @tugberkugurlu!

For sure I'm willing to ensure everything works, but I don't have too much time available at the moment for the docs and samples unfortunately.
Having said that, everything except how you connect to the database is the same, so this might not be such a big deal...

By "ship this as a separate package", do you mean creating a fork of the proje

[2017-01-17 05:55] hman-pro opened #33 "Put testing infrastructure in place"
I think a unit test project just like [asp.net/identity](https://github.com/aspnet/Identity/tree/dev/test) is require, in order to test changes with real data on database.

[2017-01-17 08:33] tugberkugurlu commented on #33
YES, it would be really good 👍 Doesn't have to be unit tests, it can even directly hit MongoDB by using https://github.com/tugberkugurlu/MongoDB.Testing

I believe Travis CI has MonogDB support within it. So, it's easy to run them on the build server too.

[2017-01-17 09:58] hman-pro commented on #33
I do agree.
If you provide me require infrastructure (I mean projects and ...) I will continue on it.

[2017-01-21 21:32] mach37 commented on #30
thanks, your sample has been used for learning, and it would greatly help if you had a sample with tenants/management GUI (Mongo or Sql either)

[2017-01-29 16:28] tugberkugurlu commented on #33
@SorenZ I am on it now, will put the structure in place.

[2017-01-29 16:32] tugberkugurlu opened #35 "MongoUserStore should have a static factory method instead of ctor"
`MongoUserStore` ctor potentially performs an expensive I/O operation. Because of this, we should expose a factory method rather than making this part of the ctor.

[2017-01-29 16:33] tugberkugurlu commented on #29
fixed by #32.

[2017-01-29 16:33] #29 closed, assigned to nobody

[2017-01-29 17:14] tugberkugurlu opened #36 "Occurance is not stored as is"
Precision of the date time is lost when we store it into MongoDB. We may need to store it as UNIX epoch.

[code]

[2017-01-30 12:53] tugberkugurlu commented on #33
fixed by #37.

[2017-01-30 12:53] #33 closed, assigned to nobody

[2017-01-30 12:53] tugberkugurlu commented on #13
fixed by #37, too. See https://travis-ci.org/tugberkugurlu/AspNetCore.Identity.MongoDB/builds/196374788#L2369

[2017-01-30 12:53] #13 closed, assigned to tugberkugurlu

[2017-01-30 13:00] hman-pro commented on #33
great job 👍

[2017-01-30 14:05] tugberkugurlu commented on #31
However, we don't know what DocumentDB team will do in the future. So, it's something that we should keep testing against.

No, have a separate project within this repository and make it reference the core project. The idea is that it can reach out to the internals of that project and can suppress index creation.

However, as said, I don't have resources to do this 😄 So, I need a voluntary on this

[2017-01-30 20:58] tugberkugurlu commented on #16
I was able to reproduce this issue on 4734fc0.

@paulallington's workaround is OK. In addition to that, you can also work around the issue by marking your constructor with `BsonConstructorAttribute`:

[code]

[2017-01-30 21:19] tugberkugurlu opened #38 "Custom properties are serialized to database as PascalCase"
For

[code]

We get this:

![image](https://cloud.githubusercontent.com/assets/328122/22441880/16635eb8-e731-11e6-9bf3-354a362cb86c.png)

Initial hunch tells me that changing `IsConventionApplicable` to below can fix the issue:

[code]

On the other hand, I am not entirely sure if this is a good thing since the user can use the derived classes to store elsewhere. If they are bothered with this, th

[2017-01-30 21:20] #38 closed, assigned to nobody

[2017-01-30 21:51] tugberkugurlu commented on #25
@Mech0z thanks for reporting this. this is currently by design but doesn't have to be that way. AFAIK, MongoDB .NET Driver supports queryable. So, `MongoUserStore<TUser>` could implement `IQueryableUserStore<TUser>` and expose `_usersCollection.AsQueryable()` through `Users` property.

I am not entirely sure though which LINQ operations MongoDB supports. We may need to write tests.

@Mech0z do you

[2017-01-30 21:51] tugberkugurlu commented on #25
As a workaround, you can query MongoDB by yourself through your own way.

[2017-01-30 21:53] #16 closed, assigned to tugberkugurlu

[2017-01-30 22:25] tugberkugurlu opened #40 "Add .dotsettings file"
This is to lay down some coding/naming guidelines in place to make refactoring a bit easier for contributors.

---

## Coding Guidelines
When you are contributing to a project (this doesn't need to be an OSS project), you should always keep the style consistent. KLoggy project adopts some coding guidelines and it's best to check them before you want to contribute to this project.

### C# Coding Co

[2017-01-31 15:38] yonzo commented on #31
Yepp, good point - I'll be happy to do the testing, and also adding docs and samples.

Haha, touché - I guess that's me then!

Could you establish the basic structure then (the new project and all), and I'll help out as best as I can?
(I'm not that into the do's and dont's of GitHub, so don't want to mess up anything)

[2017-02-02 08:40] rethabile-dev opened #42 "Id as a generic type parameter"
I think it's nice to provide `Id` as a generic type parameter (or at least make it to be changed), and provide the current `ObjectId` (or even `Guid`) implementation for convenience.

It's currently kind of limiting for people who would want to generate their own `Id`'s.

[2017-02-02 09:42] tugberkugurlu commented on #42
Thnaks for the suggestioin.

Can you tell me about what you want to use for Id and why?

[2017-02-02 11:19] rethabile-dev commented on #42
I use `Guid`s but customize by stripping `-`. I use that across all my domains. Others don't even use `Mongo` store, so I see no reason not to pass that behavior to my identities.

In any case, I might want to change that behavior for my next project to use other data type, say `int`s, this way I just feel the library is tying my hands. Just my thoughts.

[2017-02-03 00:22] tugberkugurlu commented on #23
https://github.com/mongodb/mongo-csharp-driver/releases/tag/v2.4.2

[2017-02-04 06:30] hman-pro commented on #42
@rm2k when we're using mongodb as a store, `ObjectId `playing important role (in case of replication and sharding) more than simple identifier.
And it's more mature than GUID (it's holds embedded timespan in itself).
although it's easy to implement, I think it's not a good idea ;)
waiting to hear from @tugberkugurlu maybe I'm wrong. :)

[2017-02-04 07:55] hman-pro commented on #28
solved by #34

[2017-02-05 00:52] rethabile-dev commented on #42
@SorenZ sorry if i put it to you that `ObjectId` is bad and `Giud` is good. :) .That's not what i suggest. All I'm saying is:

1. The current type of `id` is a [`string`](https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/master/src/AspNetCore.Identity.MongoDB/MongoIdentityUser.cs#L47) and `private set`.
2. The current implementation is:  [`Id = ObjectId.GenerateNewId().ToString()`]

[2017-02-05 07:55] hman-pro commented on #42
@rm2k no no, I didn't think so :)
Just consider it, we can not simply do `Id = Guid.NewGuid().ToString()` (at least now), `Id` is string in C# but it's `ObjectId` in `mongoDB`.
we should think about mapping too ;)

[2017-02-05 10:36] rethabile-dev commented on #42
@SorenZ thanks for the clarification.
It seems it's just me against the world.

[2017-02-05 12:09] hman-pro commented on #42
I just thought how to implement it (in best way) and eagerly waiting to hear from @tugberkugurlu ...

[2017-02-16 09:15] #36 closed, assigned to tugberkugurlu

[2017-02-16 09:20] tugberkugurlu commented on #42
@rm2k This could be a valid feature request to add, especially for migration cases. However, I still believe MongoDB Id should be the suggested way. So, even if we get this in, we should not make the users choose an id type.

@SorenZ can you elaborate what approach you are thinking about? You can PR it if it's easier than explaining 😄

[2017-02-16 09:21] tugberkugurlu commented on #25
@Mech0z ⬆️ any thoughts?

[2017-02-16 11:49] Mech0z commented on #25
Sorry I havent had time to look at it, But since you fixed https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/releases/tag/1.0.0-rc3 I have just made a derived User repo that can fetch both single and all users.

If I get time I can try to look at making a pull request if I can make an implementation of it into your framework

[2017-02-16 13:04] hman-pro commented on #42
PR is really easier than explaining (for me) :)))

[2017-02-18 21:14] tugberkugurlu commented on #42
@SorenZ cool, looking forward to it!

[2017-03-07 20:44] prafsoni commented on #42
@tugberkugurlu @SorenZ  I think the solution to this problem is fairly straightforward as in MongoDB _id field can be of any type i.e. ObjectId (default), String, Int, or a JSON Object. So, to fix this problem what needs to be done is when creating Document from the class the _id should be set to the value of the same type as Id field i.e. Suppose Class have ```String Id``` then doing ```new Docum

[2017-03-09 08:15] yonzo commented on #31
I ended up using this provider instead:
https://github.com/g0t4/aspnet-identity-mongo
...which works fine, so closing the issue.

Thanks for all help anyhow! :-)

[2017-03-14 01:34] tugberkugurlu opened #45 "Token storage is not supported"
When working with facebook auth and trying to store the access_token, it throws an exception:

![image](https://cloud.githubusercontent.com/assets/328122/23882057/2d96ded4-0856-11e7-941b-8e7a4013dc89.png)

[2017-03-14 21:19] dacanizares opened #46 "Update to asp core 1.1"
I'm getting errors when I try to update the sample project to use it on the recently released stable version of VS2017 with asp core 1.1.

[2017-03-14 22:39] tugberkugurlu commented on #46
What are the errors and what did you try to do?

[2017-03-15 17:43] dacanizares commented on #46
I'm modifying the default project that VS2017 creates and I'm getting errors with this line in startup.cs:

services.TryAddSingleton<IUserClaimsPrincipalFactory<MongoIdentityUser>, UserClaimsPrincipalFactory<MongoIdentityUser>>();

It says that UserClaimsPrincipalFactory requires 2 arguments. It also can't found AddDefaultTokenProviders a couple of lines after.

[2017-03-15 20:15] tugberkugurlu commented on #46
That probably because you don't have this in: https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/c3c91067332852b63fdfad5fd3254dba6ec2800e/samples/IdentitySample.Mvc/Startup.cs#L171-L229

[2017-03-15 20:16] tugberkugurlu commented on #46
Same as before, it comes from https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/blob/c3c91067332852b63fdfad5fd3254dba6ec2800e/samples/IdentitySample.Mvc/Startup.cs#L151-L159

[2017-03-15 21:56] dacanizares commented on #46
Thanks! Sorry, I haven't seen that before. It worked perfectly.

[2017-03-15 21:56] #46 closed, assigned to nobody

[2017-09-05 19:54] Mech0z opened #47 "Any chance of a Core 2.0 of this repo?"
Just wonder if I should just use this one and upgrade to 2.0 afterwards

[2017-09-05 20:42] tugberkugurlu commented on #47
Hey, I have been think about upgrading to v2 for a while now but not sure what is changed there for store interface. Maybe 1 impl of store should work for v2 as well?

If you want to give it a go, that's totally fine! Just let me know and send a PR afterwards.

We should at least upgrade to .NET SDK 2.0.

[2017-09-06 06:57] Mech0z commented on #47
Can try to look at it, but security aint my forcé, which is why I am looking at packages like this :) but if its mostly upgrade and maybe calling it from a new setup method in startup then it should be fine

[2017-09-06 17:45] vladimir-kucher commented on #47
Hey. I've ported it to .net core 2.0 + visual studio 2017. Can I put a PR?

[2017-09-06 18:15] tugberkugurlu commented on #47
Yes, please do :tada:

[2017-09-06 20:10] vladimir-kucher commented on #47
It seems that patch-version.sh is failing. Since there is no porject.json file exists for .net core 2.0 I am not familiar with build scripts. Can you take a look please?

[2017-09-07 21:36] zokkan commented on #35
Hi @tugberkugurlu , will you continue to work on issues?

Thank you.

[2017-09-08 17:07] tugberkugurlu commented on #47
Ah, that's expected. Thanks for letting me know, I will take a look!

[2017-09-09 20:43] tugberkugurlu opened #49 "Implement IUserAuthenticatorKeyStore<User>"
![image](https://user-images.githubusercontent.com/328122/30243713-dc27f9e0-95a7-11e7-8bf3-0612bf5e2686.png)

[2017-09-09 22:47] tugberkugurlu commented on #31
As part of v2, I care about this and willing to support it for CosmosDB. @yonzo let me know if you want to help out.

[2017-09-09 22:51] tugberkugurlu commented on #35
Hi @zokkan! Yes, I was inactive on this but started finishing up a few things now to target ASP.NET Core Identity v2. Let me know if you want to help out!

[2017-09-09 22:52] tugberkugurlu commented on #47
@vladimir-kucher's amazing work on #48 and after that, doing #50 resolved this issue 🎊

[2017-09-09 22:52] #47 closed, assigned to nobody

[2017-09-10 08:09] tugberkugurlu commented on #42
I want to clarify something that even if you work with the id as string, it's stored as `ObjectId`:

![image](https://user-images.githubusercontent.com/328122/30247241-92328b1a-9607-11e7-9359-5bfe9fa47f61.png)

This is restrictive but the other approach is to introduce a generic identity user type. Let's see how many 👍  we will get on this and decide based on that.

[2017-09-10 09:29] #23 closed, assigned to nobody

[2017-09-10 09:33] tugberkugurlu commented on #24
related https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/pull/6

[2017-09-11 08:03] razzeee commented on #47
So will you push this to nuget (as a preview) or what are the steps that will have to happen now?

[2017-09-11 08:18] tugberkugurlu commented on #47
A few things are not working with the sample like https://github.com/tugberkugurlu/AspNetCore.Identity.MongoDB/issues/49. As soon as we have the sample working, I can push a new version to NuGet.

[2017-09-11 08:37] tugberkugurlu commented on #47
@Razzeee let me know if you want to give it a try on making the sample work

[2017-09-18 12:43] zokkan commented on #35
Hi @tugberkugurlu, I'm getting familiar so I won't be able to help, I'm looking a solution to help me instead. If I feel that I can help someday, I will inform you, promise. 😄

[2017-09-18 17:48] tugberkugurlu commented on #35
Cool, this will help you. Use it 🙂

[2017-09-19 08:12] razzeee commented on #47
I don't think I have the skillset/time required for that.

[2017-09-19 09:49] tugberkugurlu commented on #47
No worries, I will spend some time to make that work. Will ping you when I am done so that you would have a chance to try it out as well?

[2017-09-19 13:00] razzeee commented on #47
Sure, sounds fine

On Tue, 19 Sep 2017, 11:49 Tugberk Ugurlu <notifications@github.com> wrote:

[2017-10-23 07:20] agc93 commented on #47
Any news on getting this pushed to NuGet? Maybe another prerelease version at least so people can try it out?

[2017-10-31 14:08] tobieheyns commented on #49
I implemented IUserAuthenticatorKeyStore and IUserTwoFactorRecoveryCodeStore on the MongoUserStore. The above error no longer haunts me. Busy testing the code to see if all is working.  I submitted the changes to my my cloned repo.

Your comments will be appreciated.

[2017-12-15 13:41] Farshidgolkarihagh commented on #49
Hi, Any update on this? You feedback is appreciated

[2017-12-20 00:37] tugberkugurlu commented on #49
@Farshidgolkarihagh yep, looking at the PR #53 now.

[2018-02-02 19:24] Mech0z commented on #49
Anyone got this working?

[2018-02-09 07:02] rgustavsson opened #54 "Question: Next release?"
Sorry for placing a question as an issue..

when do you intend to release a new version to nuget? I can't use the one published, I get reference issues in my .net core 2.0 application, but when referencing the master branch with the latest changes then its fine.

[2018-06-11 11:08] dealproc commented on #17
May consider the use of https://github.com/danielwertheim/Ensure.That for this item.  Why implement code that is already implemented and working in various projects already?

[2018-06-11 16:50] dealproc commented on #54
Having a chat today with @tugberkugurlu in regard to this.. no promises, but please stay tuned.

[2018-06-11 16:51] dealproc commented on #24
@SorenZ Are we able to close this issue?

[2018-06-11 16:53] dealproc commented on #28
@SorenZ Can we close this issue, given you noted [above] that it was solved with #34?

[2018-06-11 16:55] dealproc commented on #30
@mach37 Dependent on whether you have a multi-tenant database or a database-per-tenant approach, how would you propose that we demonstrate a multi-tenant scenario?  There are many ways to approach this, and it falls deeper into a hole that must be understood before such examples could be authored.  Please feel free to leave note(s) here so we can get a better understanding.

[2018-06-11 19:44] tugberkugurlu opened #55 "Tests are stuck on build server"
Currently getting this:

[code]

https://travis-ci.org/tugberkugurlu/AspNetCore.Identity.MongoDB/builds/273802529

Easiest work around is to disable tests that hits to MongoDB database directly. /cc @dealproc

[2018-06-12 14:31] dealproc commented on #9
Ok, with this mention, this is leading me to believe that the AddIdentity<TUser>() methods should be within the main framework, and not in the example code.  I hate to move it because it adds dependencies into the main framework, so maybe a good discussion to be had @tugberkugurlu to determine if an aux class should be established to handle any of the aspnet core specific bits vs the "netstandard"

[2018-06-14 09:41] #28 closed, assigned to nobody

[2018-06-14 09:42] #24 closed, assigned to nobody

[2018-06-14 18:09] dealproc commented on #21
@tugberkugurlu what is the concern here?

[2018-06-14 18:38] tugberkugurlu commented on #21
This was purely based on assumption that people who engage with ASP.NET Core Identity would need guidance on how to achibe high availibility with MongoDB. However, not a huge concern at all. Can be closed safely I believe.

[2018-06-14 18:38] #21 closed, assigned to nobody

[2018-06-14 18:45] dealproc commented on #19
Working on this as part of the IdentityServer sample.  Will go back to the Mvc Sample and enable the same once complete with IdentityServer.

[2018-06-15 15:33] dealproc commented on #17
In my fork... will be pushing in the next few days after some additional work is put to-bed.

[2018-06-15 15:33] #17 closed, assigned to nobody

[2018-06-15 15:35] dealproc commented on #31
One of the discussions @tugberkugurlu and I have had was with regard to creating indexes within cosmosdb for unique-ness, etc.   It looks like this is possible, so long as we do it in the beginning, while the collection is empty.  Reference: https://docs.microsoft.com/en-us/azure/cosmos-db/mongodb-indexing

[2018-06-15 16:08] #19 closed, assigned to nobody

[2018-06-15 16:26] dealproc commented on #25
If someone wants to tell me what test(s) may need to be written... the property takes ~30 seconds to add... so it's just adding tests to proof what we can/cannot do.

[2018-08-05 19:34] RajivCodeLab opened #56 "Not supporting for ASPNET Core >=2.1.0"
Hi,
Throwing below error at Startup.cs
~/Identity.Api/Startup.cs(17,17): Error CS7069: Reference to type 'IUserTwoFactorStore<>' claims it is defined in 'Microsoft.AspNetCore.Identity', but it could not be found (CS7069)

[2018-08-08 01:38] dealproc commented on #56
Hmm... I am working on trying to get everything moved around, and will look into this within my fork of the repository.  Once everything is stabilized, I'll be pushing everything into this repo and killing off my working repo.  The cheese may have moved in 2.1.0+ and we will need to account for this.

[2018-11-30 17:59] mach37 commented on #30
We can avoid multi-tenant for now, but a simple column with tenantId in the row, would fix that.
But a true easy turnkey sample would be ideal now that both 4.72 & 2.2 is released

[2019-01-09 18:19] dealproc commented on #45
From #53, I believe this is now concluded.

[2019-01-09 18:19] #45 closed, assigned to nobody

[2019-01-09 18:19] dealproc commented on #49
I believe #53 closes this.  I've merged @tcheyns code, and am looking at the last of the requests I had for him with regard to this.

[2019-01-09 18:19] #49 closed, assigned to nobody

[2019-01-09 18:50] dealproc commented on #35
I'm implementing this at this time, but the issue is the registration seems to still need to use `.GetAwaiter().GetResult()` at this point.  I would be interested in either 1) use a `TaskHelpers.RunSync(await () => )` method, or if @tugberkugurlu has a suggestion on how we can setup the Services collection to run async as the example to indeed run the method async as part of the singleton registra

[2019-01-09 18:51] #35 closed, assigned to nobody

[2019-01-09 18:52] dealproc commented on #56
Given the delay with this, and that asp.net core 2.2 is now out, i'm going to base decisions on asp.net core 2.2 instead of 2.1

[2019-01-09 19:05] dealproc commented on #56
I converted to asp.net core 2.2 and am not experiencing this.  This may be due to the fact that with recent PRs, we have the IUserTwoFactorStore<> implemented now.  Will conclude changes so everything is setup for asp.net core 2.2 and push up for review @devrajeev.  HTH

[2019-01-09 19:07] dealproc commented on #56
Code is pushed.  Please review the check-in and see if that works.  We need to prepare a new nupkg for testing within your solution.

[2019-01-09 19:09] dealproc commented on #40
@tugberkugurlu are you willing to create this, as this is something I am unfamiliar with at this time.

[2019-01-09 19:24] dealproc opened #58 "RFC: MongoDB Migrations"
One of the changes with the last RC release mentions that users of this library are on their own to migrate from one RC to another, as the structure of the project changed dramatically.

My thinking is that we may want to provide some sort of a migration strategy, post 1.0.0, so that as we need to roll to 1.1, 1.2, and eventually 2.0 and beyond, folks can easily upgrade their projects with limited

[2019-03-01 16:04] AdiletB commented on #56
Hi! Its not working:(

[2019-03-01 17:09] dealproc commented on #56
@AdiletB can you please be more specific?  I believe I encoded/tested this already, and if there is something specific, I'd like to patch it.

Please keep in mind, we need to push a new nuget package to use the updates.

[2019-03-10 15:02] sashafencyk commented on #56
@dealproc
Hi Guys, I am going to start a new ASP.NET Core 2.2 project. And I am considering to use your library or AspNetCore.Identity.Mongo. So I would like to know when are you going to publish new nuget package that supports Identity 2

[2019-03-10 22:24] dealproc commented on #56
@sashafencyk -

As I recall, this should be supporting Microsoft.AspNetCore.Identity v2.2.0... Can you send me a link on Identity 2.2 if this is a different project?  If it's something that is _that_ much more valuable, a PR against this project may be a better option rather than establishing a new project/nuget package.

I dropped a message to @tugberkugurlu to find out how to push the latest upd

[2019-03-10 22:33] tugberkugurlu commented on #56
I will have a look at giving you a push access @dealproc, sorry for the delay 😞

[2019-10-17 07:16] burimameti commented on #56
@tugberkugurlu , does its supports .net core 2.2 and 3.0

[2020-10-30 11:09] lud commented on #56
Hi, I have the same kind of error (using netcore 2.2 although no longer supported by Microsoft because I have no choice on that matter, infortunately).

Using this line of code :

[code]

I get this error:

[code]

But there is more : for some reason it seems that the non-static `CreateAsync` method (which is for users) is to be called :

`public Task<IdentityResult> CreateAsync(TUser user, Cancel